body, html {
    height: 100%;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    background-color: #f7f9f9;
}


h1 {
    margin-top: 200px;
    text-align: center;
    font-size: 48px;
}

h2 {
    text-align: center;
    font-size: 36px;
}

h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}

p {
    text-align: center;
    font-size: 18px;
}

.container {
    height: 100vh;
    width: 94vw;
    padding: 20px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

/*#container1 {*/
/*    background-color: #d3d3d3;*/
/*}*/

/*#container2 {*/
/*    background-color: rgba(255, 102, 102, 0.24);*/
/*}*/

/*#container3 {*/
/*    background-color: rgba(102, 204, 255, 0.31);*/
/*}*/

/*#container4 {*/
/*    background-color: rgba(153, 255, 153, 0.36);*/
/*}*/

/*#container5 {*/
/*    background-color: rgba(255, 153, 204, 0.33);*/
/*}*/

.hidden {
    display: none;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}